html, body {
  margin: 0px;
  height: 100%;
}

body {
  font-family: "Noto Sans", sans-serif;
}

#titlebar {
  padding: 10px 40px;
  background-color: #881c1c;
  color: white;
}

#dclist {
  padding: 15px;
}

.dcbar {
  display: block;
  color: black;
  text-decoration: none;
  background-color: #e5e7e6;
  padding: 10px 40px;
}

.dcbar:hover {
  background-color: #d9dcda;
}

.dcbar:not(:last-child) {
  margin-bottom: 15px;
}

.dcbar > h2 {
  display: inline-block;
  width: 200px;
}

#commentlist {
  padding: 15px;
}

.comment {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  margin-bottom: 15px;
}

.comment-left {
  flex-basis: 200px;
  text-align: center;
}

.comment-user {
  font-size: 1.2em;
}

.stars-large {
  font-size: 1.25em;
}

.stars-review {
  font-size: 1em;
}

.fa-star, .fa-star-half-o, .fa-star-o {
  color: #FFBD00;
}