html, body {
  margin: 0px;
  height: 100%;
}

body {
  font-family: "Noto Sans", sans-serif;
}

#titlebar {
  padding: 10px 40px;
  background-color: #881C1C;
  color: white;
}

main {
  padding: 15px;
}

.dc {
  padding: 10px 40px;
  background-color: #E5E7E6;
}

.dc:not(:last-child) {
  margin-bottom: 15px;
}

.dc > h2 {
  display: inline-block; 
}