html, body {
  margin: 0px;
  height: 100%;
}

body {
  font-family: "Noto Sans", sans-serif;
}

#titlebar {
  padding: 10px 40px;
  background-color: #881C1C;
  color: white;
}

#dclist-container {
  padding: 0 15px;
}

#dclist {
  width: 100%;
  border-spacing: 0 15px;
}

.dcbar {
  background-color: #E5E7E6;
}

.dcname {
  padding: 10px 40px;
}

.dcbar:hover > .dcname {
  text-decoration: underline;
}

.stars-large {
  font-size: 20px;
}

.fa-star, .fa-star-half-o, .fa-star-o {
  color: #FFBD00;
}