{% extends "layout.html" %}

{% block title %}
  {{ dc | title }}
{% endblock %}

{% block titlebar %}
  <h1><a class="titlebar-link" href="/">App Title</a><span class="separator">/</span>{{ dc | title }}</h1>
{% endblock %}

{% block main %}
  <div id="commentlist">
    {% for comment in comments %}
      <div class="comment">
        <div class="comment-left">
          <div class="comment-user">
            {{ comment["user"]["username"] }}
          </div>
          {{ comment["time"]["hour"] }}:{{ "%02d" % comment["time"]["minute"] }}
        </div>
        <div class="comment-right">
          {% if comment["rating"] != None %}
            {{ stars(comment["rating"], "stars-review") }}
            <br>
          {% endif %} 
          {% if comment["text"] != None %}
            {{ comment["text"] }}
          {% endif %}
        </div>
      </div>
    {% endfor %}
    <form id="comment-form" action="/comment/{{ dc }}" method="POST">
      <div>
        <span class="star-input fa fa-star-o"></span>
        <span class="star-input fa fa-star-o"></span>
        <span class="star-input fa fa-star-o"></span>
        <span class="star-input fa fa-star-o"></span>
        <span class="star-input fa fa-star-o"></span>
      </div>
      <input hidden type="number" id="rating" name="rating" value="0">
      <div>
        <textarea name="text"></textarea>
      </div>
      <input type="submit" value="Comment">
    </form>
  </div>

  <script>
    starInputs = document.querySelectorAll(".star-input");
    rating = document.querySelector("#rating");

    starInputs.forEach((star, i) => {
      star.addEventListener("click", () => {
        rating.value = i + 1;
        starInputs.forEach((otherStar, j) => {
          otherStar.classList.remove("fa-star", "fa-star-o");
          otherStar.classList.add(j <= i ? "fa-star" : "fa-star-o");
        });
      });
    });
  </script>
{% endblock %}
