{% macro stars(x, size) %}
  <span class="stars {{ size }}">
    <span class="fa fa-star"></span>
    {% for n in range(1, 5) %}
      <span class="fa {% if x >= n + 0.75 %} fa-star {% elif x >= n + 0.25 %} fa-star-half-o {% else %} fa-star-o {% endif %}"></span>
    {% endfor %}
  </span>
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans">
  <link rel="stylesheet" href="/static/styles.css">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <div id="titlebar">
    {% block titlebar %}{% endblock %}
    {% if user == None %}
      <a href="/login" class="titlebar-link titlebar-right">Log In</a>
    {% else %}
      <span class="titlebar-right">{{ user["username"] }}</span>
      <a href="/logout" class="titlebar-link titlebar-right">Log Out</a>      
    {% endif %}
  </div>
  {% block main %}{% endblock %}
</div>
</body>
</html>